header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  z-index: 1000;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: #00e5ff;
}

nav a {
  text-decoration: none;
  color: white;
  margin-left: 25px;
  font-weight: 500;
  transition: 0.3s;
  cursor: pointer;
}

nav a:hover {
  color: #00e5ff;
}

.cart-btn {
  background: #00e5ff;
  color: black;
  padding: 10px 18px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.cart-count {
  background: red;
  padding: 3px 8px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: 5px;
}
